
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/08/2016, 15:57:36
    Author     : Cristiano Aparecido
*/
body {
    margin: 0;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* PANELGRID */
.ui-panelgrid.panelgrid-noborder .ui-grid-responsive {
    border: none;
}


@media (max-width: 640px) {
    .ui-panelgrid.panelgrid-noborder .ui-grid-responsive .ui-grid-row {
        border: none;
    }

    /* Customiza TabView - início */
    .ui-tabs .ui-tabs-panel {
        padding: 0.5em 0.2em !important;
    }

    .ui-tabs {
        padding: 0px !important;
    }

    .ui-tabs .ui-tabs-nav {
        margin: -1px !important;
    }

    .ui-tabs.ui-tabs-top > .ui-tabs-nav {
        padding: 0px !important;
    }
    /* Customiza TabView - fim */

   
